<!DOCTYPE html>{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}AnimeFinder{% endblock title %}</title>

        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.svg' %}"/>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">

        <!-- Argon CSS -->
        <link type="text/css" href="{% static 'css/argon-design-system.min.css' %}" rel="stylesheet">
        
        <!-- Costom CSS -->
        <link type="text/css" href="{% static 'index.css' %}" rel="stylesheet">

    </head>
    <body>
        {% block body %}
            {% block content %}
            {% endblock content %}

            <!-- <div class="container">
                <hr>
                <div class="row pb-3 footer">
                    <div class="col-12 text-center">
                        <p>Copyright © {% now "Y" %} Abdelaali ES SALMI . All rights reserved</p>
                        <p class="coder">Built with <i class="fa fa-heart text-danger"></i> in Django By <a href="https://github.com/abdlalisalmi">Abdelaali ES SALMI</a></p>
                    </div>
                </div>
            </div> -->
        {% endblock body %}

        <!-- Core -->
        <script src="{% static 'js/core/jquery.min.js' %}"></script>
        <script src="{% static 'js/core/popper.min.js' %}"></script>
        <script src="{% static 'js/core/bootstrap.min.js' %}"></script>

        <!-- Argon JS -->
        <script src="{% static 'js/argon-design-system.js' %}"></script>

        {% block script %}
        {% endblock script %}
    </body>
</html>