{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- <div class="container">
        <div class="row text-center main justify-content-center">
            <div class="col-12 mirror-face my-auto">
                <h1>Need to know the source of this Now!</h1>
            </div>
        </div>
    </div> -->
    <main>
        <section class="glass">
            <h1>Anime's Finder</h1>
            <p>Life is too short to answer all the "What is this anime's name?" questions. Let computers do that for you.</p>
            <form id="search-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="search-image" class="cont">
                    <div class="search-input shadow" style="background-image: url('{% if profile.avatar %}{{profile.avatar.url}}{% else %}{% static 'img/default-avatar.svg' %}{% endif %}')">
                        <i class="uil uil-focus-add"></i>
                        <span>Add Your Image</span>
                    </div>
                </label>
                <input type="File" name="image" id="search-image">
            </form>
        </section>
      </main>
{% endblock content %}
